@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: 700;
}

:root {
    font-size: 18px;
    --white-10: #3a3539;
    --white-20: #a5a3a5;
    --white-30: #ffffff;
}


body {
    color: var(--white-30);
    font-family: 'nunito', sans-serif;
    background: #251f24;
    margin: 0;
}

.hero {
    block-size: 50px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

a {
    color: var(--white-30);
}

.header {
    /* position: sticky;
    inset-block-start: -45px; */
}

.header-content {
    padding-inline: 20px;
}

header {
    font-size: 14px;
    color: var(--white-30);
    /* position: absolute;
    inset-inline-start: -208px;
    inline-size: 188px; */
    margin-block-start: 20px;
}

header li {
    color: var(--white-20);
    margin-block-end: 16px
}

header a {
    color: var(--white-20);
    text-decoration: none;
}

header a:hover {
    color: var(--white-30);
}

nav details summary {
    color: var(--white-30);
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-block: 40px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}


hr {
    margin-block-start: 40px;
    margin-block-end: 40px;

}


pre {
    background: var(--white-10);
    overflow: auto;
    border-radius: 8px;
    padding: 40px;
    border: 10px solid #5551ff;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 30px;
    border-start-start-radius: 50px;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
    font-size: 16px;
}

p {
    color: var(--white-20);
    font-weight: normal;
}

.section-content {
    counter-reset: titleList;
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList) ". ";
}

/* .section-content h3::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: var(--white-30);
} */

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--white-10);
    border-radius: 8px;
    padding: 24px;
    line-height: 32px;
    font-size: 24px;
}

blockquote p {
    color: var(--white-30)
}

main hr {
    display: none;
}

.main {}

.wrapper {
    max-inline-size: 802px;
    margin: 0 auto;
}

.main-content {
    padding-inline: 16px;
}

.slider-container {
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
    overflow-x: hidden;
}

.video {
    margin: 0;
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    box-sizing: border-box;
    border: 1px solid var(--white-30);
    border-radius: 8px;
    background-color: transparent;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white-30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;

}

.form input::-webkit-input-placeholder {
    color: var(--white-20)
}

.form input[type="submit"] {
    background-color: #157EFB;
    /* border: none; */
    border: 1px solid #157EFB;
}

footer {
    background-color: var(--white-30);
    inline-size: 100%;
    block-size: 174px; 
}

.footer-content {
    inline-size: 320px;
    inset-block-start: 50px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.footer-content p {
    color: #251F24;
    font-weight: normal;
    font-size: 32px;
}

.debug {
    outline: 1px solid red;
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }

    header {
        position: absolute;
        inset-inline-start: -208px;
        inline-size: 188px;
        inset-block-start: 0;

    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

}